@charset "UTF-8";


        body{
            background-color: rgb(5, 34, 32);
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        h1{
            color:darkblue;
            background-color: darkgoldenrod;
        }
        h2{
            color: darkred;
        }
        p{
            text-align: justify;
        }
   